
        
   
        <div class="ui inverted vertical footer segment form-page">
                <div class="ui container">
                  Weather app By Pankhil Prajapati. All Rights Reserved
                 <a href="https://github.com/pankhilprajapati"><i class="large github square icon"></i></a>
                 <a href="https://linkedin.com/in/pankhil-prajapati-10301515b"><i class="large linkedin square icon"></i></a>
                 
                </div>
                
                    
              
                
                
</body>
</html>
