<html>
  <head>
    <title>Weather App</title>
    <link
      rel="icon"
      href="https://image.flaticon.com/icons/svg/414/414825.svg"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="ui inverted menu">
      <a href="/find" class="item">
        <i class="circular inverted teal cloud icon"></i>Weather
      </a>
      <a href="/about" class="item"
        ><i class="circular inverted teal archive icon"></i>
        About
      </a>
      <a href="/help" class="item"
        ><i class="circular inverted teal  bell icon"></i>
        Help
      </a>
      <div class="right inverted menu">
       
        </div>
      </div>
    </div>
  </body>
</html>
