<% include partials/header %>

<div class="ui raised very padded text container segment">
  <div class="ui inverted segment">
    <h1>About</h1>
    <p></p>
    <h4 class="ui horizontal inverted divider">
      CREATOR
    </h4>
    <div class="ui inverted segment">
      <img
        class="ui medium image"
        src="https://images.unsplash.com/photo-1503249023995-51b0f3778ccf?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9"
        alt=""
      />
    </div>

    <h4 class="ui horizontal inverted divider">
      CREATOR THOUGHT
    </h4>
    <div class="ui inverted segment">
      <p>
        A smartphone links patients' bodies and doctors' computers, which in
        turn are connected to the Internet, which in turn is connected to any
        smartphone anywhere. The new devices could put the management of an
        individual's internal organs in the hands of every hacker, online
        scammer, and digital vandal on Earth.
      </p>
    </div>
  </div>
</div>

<% include partials/footer %>
