<% include partials/header %>

<div class="ui raised very padded text container segment">
  <div class="ui inverted segment">
    <h1>About</h1>
    <p></p>
    <h4 class="ui horizontal inverted divider">
      CREATOR
    </h4>
    <div class="ui inverted segment">
      <img
        class="ui medium image"
        src="https://images.unsplash.com/photo-1503249023995-51b0f3778ccf?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9"
        alt=""
      />
    </div>

    <h4 class="ui horizontal inverted divider">
      CREATOR THOUGHT
    </h4>
    <div class="ui inverted segment">
      <p>hey there guys i ma the creator of the file</p>
    </div>
  </div>
</div>
<% include partials/footer %>
