<% include partials/header %>

<div class="ui raised very padded text container segment">
  <div class="ui inverted segment">
    <h1>Help</h1>
    <p></p>
    <div class="ui inverted divider"></div>
    <p>This is some help full Text</p>
    <h4 class="ui horizontal inverted divider">
      HELP?? NEED..
    </h4>
  </div>
</div>
<style>
  .ui.footer.form-page {
    bottom: 0;
  }
</style>
<% include ./partials/footer %>
